.blogContainer {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 25px;
    padding: 25px;
  }

  .dropdownContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #101010;
    border-radius: 5px;
    width: 100%;
  }


  /* ---------------------------- Pagination Container ---------------------------- */
  
  .paginationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  .button {
    background-color: #101010;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }