.simpleWrapper {
    width: 200px;
    margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
} 

.createbutton {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        background-color: #ffffff;
        color: #000000;
    }
}
.backtobutton {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
        background-color: #ffffff;
        color: #000000;
    }
}
.form input {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form input {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}